@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap"); /*****************
**** VARS ****/
/*****************
**** MIXINS ****/
/*****************
**** COMMON ****/
:root {
  box-sizing: border-box;
  font-size: 18px;
  transition: all 0.3s ease;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Itim", Helvetica, sans-serif;
  background-color: #ccc;
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  margin-left: 1em;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.container,
.container--inner {
  padding-inline: 1em;
}

/*************
**** large */
@media all and (min-width: 1120px) {
  :root {
    font-size: 20px;
  }
  .container {
    max-width: 1040px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1650px) {
  :root {
    font-size: 22px;
  }
  .container {
    max-width: 1596px;
  }
  .container--inner {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.hero {
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}
.hero__img {
  display: inline-block;
  width: 100%;
  max-width: 480px;
}

.page__header {
  padding-block: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand img {
  border-radius: 0.5rem;
  vertical-align: middle;
}

.page__footer {
  padding: 2em 1em;
  background-color: #2f362f;
  color: #fff;
  text-align: center;
}

/*****************
**** APP ****/
.app {
  display: none;
}

/*****************
**** CARDS ****/
.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(47, 54, 47, 0.4);
  background-color: #fff;
  cursor: pointer;
}
.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card__caption {
  padding: 2em 0.5em;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.card__caption h3 {
  font-size: 1rem;
}
.card:hover {
  transform: translateY(-7px);
}

/*****************
**** PAGINATION ****/
.pagination {
  font-size: 0.875em;
  margin-top: 2em;
}
.pagination span {
  font-weight: 2em;
}
.pagination__list {
  margin-block: 1em 2em;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.pagination__item {
  text-align: center;
  padding-block: 1em;
  flex: 1;
}
.pagination__link {
  cursor: pointer;
}
.pagination__link--prev {
  text-align: left;
}
.pagination__link--next {
  text-align: right;
}
.pagination__link:hover {
  color: #86c345;
}
.pagination__go {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.pagination__num {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5em;
}
.pagination__num:focus {
  outline: none;
}
.pagination__label {
  text-align: right;
}

.btn {
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 0.5rem;
  background-color: #86c345;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--cta {
  font-size: 1.1rem;
}
.btn:hover {
  transform: scale(1.1);
}

.disabled {
  font-weight: normal;
  opacity: 0.4;
  pointer-events: none;
  cursor: auto;
}

/*****************
**** MODAL ****/
.modal {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 20%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(47, 54, 47, 0.4);
  background-color: #2f362f;
  color: #fff;
  z-index: 2;
}
.modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal__heading {
  flex: 2 1 0%;
}
.modal__heading img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 300px;
  object-position: center center;
  object-fit: cover;
}
.modal__content {
  flex: 3 1 0%;
  padding: 1.5em 1.5em 0.5em;
  display: flex;
  flex-direction: column;
}
.modal__section {
  margin-bottom: 1rem;
}
.modal__subtitle {
  color: #00a5be;
}
.modal__status {
  display: flex;
  align-items: center;
}
.modal__status-icon {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.35rem;
  border-radius: 50%;
}

.alive {
  background-color: #86c345;
}

.unknown {
  background-color: #ecd06f;
}

.dead {
  background-color: #d63d2e;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

/*****************
**** LIKE BTN ****/
.like__btn {
  flex: 0 0 30px;
  margin-left: auto;
  height: 30px;
  transition: all 0.3s ease;
}
.like__btn--1 {
  fill: #86c345;
}
.like__btn--2 {
  fill: #fff;
}
.like__btn--1, .like__btn--2 {
  fill-rule: evenodd;
}
.like__btn:hover {
  transform: scale(1.5);
}

/*****************
**** SPINNER ****/
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
@media all and (min-width: 720px) {
  .modal {
    width: 50%;
    left: 25%;
  }
  .modal__inner {
    flex-direction: row;
  }
  .modal__heading img {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */